#visual_feedback_by_timeline__plugin_settings_form.visual_feedback_by_timeline__form_disabled {
  opacity: 0.2 !important;
  pointer-events: none !important;
  cursor: pointer !important;
  user-select: none !important;
}

body.toplevel_page_visual-feedback-settings-page  h2 {
	margin-top: 24px;
}

#visual_feedback_by_timeline__feedback_disabled_message,
#visual_feedback_by_timeline__feedback_enabled_message,
#visual_feedback_by_timeline__feedback_please_save_message {
  font-size: 12px;
  margin-left: 12px;
}
#visual_feedback_by_timeline__feedback_disabled_message {
  color: #c0392b;
}
#visual_feedback_by_timeline__feedback_enabled_message {
  color: #34b93d;
}
#visual_feedback_by_timeline__feedback_please_save_message {
  color: gray;
}

body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form table.form-table:nth-of-type(2) tbody tr:nth-child(1) td,
body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form table.form-table:nth-of-type(2) tbody tr:nth-child(2) td {
	line-height: 14px;
	padding-bottom: 0;
}

body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form table.form-table:nth-of-type(2) tbody tr:nth-child(3),
body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form table.form-table:nth-of-type(2) tbody tr:nth-child(4) {
	display: none;
}

body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form table.form-table:nth-of-type(2) tbody tr th {
	padding-top: 15px;
	padding-bottom: 10px;
	width: 55px;
}

body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form table tbody tr .visual_feedback_by_timeline__field_value {
	font-style: italic;
}

/*
body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form p.submit {
	margin-top: 0;
}
*/
body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form p.submit,
body.toplevel_page_visual-feedback-settings-page #visual_feedback_by_timeline__plugin_settings_form #submit {
  display: none;
}

body.toplevel_page_visual-feedback-settings-page a i.fa-external-link {
  margin-left: 5px;
  font-size: 12px;
}

/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  } 
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 30px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 30px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 30px;
  }
}
body.toplevel_page_visual-feedback-settings-page input[type=checkbox] {
  display: none;
}
body.toplevel_page_visual-feedback-settings-page .check-box {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 2px solid #c0392b;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
body.toplevel_page_visual-feedback-settings-page .check-box::before, 
body.toplevel_page_visual-feedback-settings-page .check-box::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	height: 0;
	width: 6px;
	background-color: #27ae60;
	display: inline-block;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	border-radius: 5px;
	content: ' ';
	-webkit-transition: opacity ease .5;
	-moz-transition: opacity ease .5;
	transition: opacity ease .5;
}
body.toplevel_page_visual-feedback-settings-page .check-box::before {
	top: 22px;
	left: 12px;
	box-shadow: 0 0 0 3px #f1f1f1;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
body.toplevel_page_visual-feedback-settings-page .check-box::after {
	top: 11px;
	left: 1px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
body.toplevel_page_visual-feedback-settings-page input[type=checkbox]:checked + .check-box,
body.toplevel_page_visual-feedback-settings-page .check-box.checked {
	border-color: #34b93d;
}
body.toplevel_page_visual-feedback-settings-page input[type=checkbox]:checked + .check-box::after,
body.toplevel_page_visual-feedback-settings-page .check-box.checked::after {
	height: 20px;
	-moz-animation: dothabottomcheck 0.2s ease 0s forwards;
	-o-animation: dothabottomcheck 0.2s ease 0s forwards;
	-webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
	animation: dothabottomcheck 0.2s ease 0s forwards;
}
body.toplevel_page_visual-feedback-settings-page input[type=checkbox]:checked + .check-box::before,
body.toplevel_page_visual-feedback-settings-page .check-box.checked::before {
	height: 120px;
	-moz-animation: dothatopcheck 0.4s ease 0s forwards;
	-o-animation: dothatopcheck 0.4s ease 0s forwards;
	-webkit-animation: dothatopcheck 0.4s ease 0s forwards;
	animation: dothatopcheck 0.4s ease 0s forwards;
}
